<%= simple_form_for [@room, @room.tasks.build] do |f| %>
  <%= f.input :content, class: "form-control" %>
  <p class="text-right">
    <%= f.button :submit, class: "btn btn-primary" %>
  </p>
<% end %>
