<div class="col-md-7 col-md-offset-3">
  <div class="well">
    <h2>Room編集</h2>
      <%= render "form" %>
      <hr>
      <p class="text-right">
        <%= link_to "Cancel", room_path(@room), class: "btn btn-default" %>
      </p>
  </div>
</div>
